<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @review.wine %>
</p>

<p>
  <strong>Oenologist:</strong>
  <%= @review.oenologist %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
