<center>
  <!DOCTYPE html>
  <html>
    <head>
      <title>Desafio Cepas1</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
  
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>

  <% if user_signed_in? %>
     <%= link_to "Log out", destroy_session_path(:user), method: :delete %>
     <%= link_to  "Wines", wines_path %>
     <%= link_to  "Strains", strains_path %>
     <%= link_to  "Wine_strains", wine_strains_path %>
<% else %>
  <%= link_to  "Sign in",  new_user_session_path  %>
<% end %>

  <%= yield %>
   </body>
 </html>
</center>